table {
	border-collapse: separate;
	border-spacing: 0px 0px;
	width: 50%;
}

th {
	font-family: monospace;
	width: 50%;
	padding: 5px;
	background-color: #D0E3FA;
	background-image: url(sky.jpg);
}

td {
	font-family: sans-serif;
	border-color: #6495ed;
	border-style: solid;
	border-width: 1px;
	padding: 1px;
	text-align: center;
	background-color: #ffffff;
}

caption {
	font-family: sans-serif;
}